* {
    font-family: Tahoma;
}

.table {
    counter-reset: row-num;
}

table .number {
  counter-increment: row-num;
}
table tr .number:first-child::before {
    content: counter(row-num) "     ";
}

.number span {
    margin-right: 60%
}

#################

input::-webkit-calendar-picker-indicator {
              opacity: 100;
}
table{
    table-layout: auto;
    width: 1px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

   opacity: 1;
}

.btn-group-vertical > input{
    margin-bottom:15px;
    border-radius:10px !important;
}

table.table-bordered{
    border:1px solid grey;
    margin-bottom: 0px;
}

#meds-table tbody > tr:last-child > td {
  border-bottom: 1px solid white;
}

.wrap {

}

td, th {
    text-align:center;
    vertical-align: middle;
}

.table-bordered th,
.table-bordered tr,
.table-bordered td{
    border:1px solid gray;
}

.required-field::after {
  content: "*";
  color: red;
  margin-left:2px
}

.border-right {
border-right: 1px solid gray;
height: 320px;
}

.hidden{
    display: none;
}