{% extends 'layout/base.html' %}

{% block content %}
<h1 class="text-center text-success">ĐĂNG KÝ KHÁM TRỰC TUYẾN</h1>
<form id="myFormId" method="post" enctype="multipart/form-data" action="/online-register">
    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" required id="name" placeholder="Nhập họ tên" name="name">
        <label for="name">Họ tên</label>
    </div>

    <div class="form-floating mb-3 mt-3">
        <input type="text" class="form-control" required id="sex" placeholder="Nhập giới tính" name="sex">
        <label for="sex">Giới tính</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="text" class="form-control" required id="year" placeholder="Nhập năm sinh" name="year">
        <label for="year">Năm sinh</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        <input type="text" class="form-control" required id="address" placeholder="Nhập địa chỉ" name="address">
        <label for="address">Địa chỉ</label>
    </div>
    <div class="alert alert-danger" id="infor" style="display:none">
        {{err_msg}}
    </div>
    <div>
        <input type="submit" value="Đăng ký" class="btn btn-danger" onclick="showError()"/>
    </div>
</form>
{% endblock %}