{% extends 'layout/base.html' %}

{% block content %}
<div class="container" style="margin:30px">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th colspan="2"><h1 style="text-align:center">Hóa đơn thanh toán</h1></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Họ tên: {{ten}}</td>
            <td>Ngày khám: {{ngaykham}}</td>
        </tr>
        <tr>
            <td>Tiền khám: {{"{:,}".format(tongtienkham)}} VNĐ</td>
            <td>Tiền thuốc: {{"{:,}".format(tienthuoc)}} VNĐ</td>
        </tr>
        <tr>
            <td colspan="2">Tổng tiền: {{"{:,}".format(tongtienkham+tienthuoc)}} VNĐ</td>
        </tr>
        </tr>
        </tbody>
    </table>
</div>


{% endblock %}