{% extends 'layout/base.html' %}

{% block content %}
<h1>Hóa đơn thanh toán</h1>
<div class="container">
  <table class="table">
    <tbody>
      <tr>
        <td>Họ tên</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
{% for p in phieu %}
    <tr>
        <td>{{ p.id }}</td>
    </tr>
    {% endfor %}


{% endblock %}